*{
    padding: 0px;
    margin: 0px;
}
.one{
    width: 100%;
    height: 530px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJkcPDukD6ZXsfIiM961X4rtXYrKKlwwKeDg&usqp=CAU);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.two{
    width: calc(100% - 80px);
    height: 91px;
    background-color: rgb(74, 26, 26);
    padding: 40px;
}
p{
    color: white;
    font-size: 60px;
}
.three{
    width: 400px;
    height: 30px;
    background-color: rgb(67, 68, 163);
    padding: 20px 0px;
    position: absolute;
    bottom: 191px;
}
span{
    font-size: 30px;
    margin-left: 20px;
    color: white;
}
i{
    font-size: 200PX;
    color: white;
    position: absolute;
    bottom: 300PX;
}